<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer-section">
    <div class="footer-top">
      <!-- Logo & Intro -->
      <div class="footer-left">
        <div class="logo-text">
          <h1>🍔FoodHub</h1>
        </div>
        <p class="footer-desc">
          Join us for exclusive updates, tasty offers, <br />
          and fresh meals delivered straight to your <br />
          doorstep.
        </p>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <!-- Footer Links -->
      <div class="footer-links">
        <div class="footer-column">
          <h4>Explore</h4>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/services">Service</a></li>
            <li><a routerLink="/foods">Foods</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Help</h4>
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Contact</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> India, Pune</li>
            <li><i class="fas fa-map-pin"></i> Pin No. 4324246386</li>
            <li><i class="fas fa-phone-alt"></i> +91 9876543210</li>
            <li><i class="fas fa-envelope"></i> xyz-gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>2025 <span class="brand">FoodHub</span> | All Rights Reserved | Made by me...</p>
    </div>
  </footer>


</body>
</html>
