<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="popular-section">
    <div class="popular-header">
      <div class="title-area">
        <h2>Our <span class="highlight">Popular</span> Items</h2>
        <p class="subtitle">Try our popular items, crafted with fresh, irresistible flavors</p>
      </div>
      <button class="view-more-btn" routerLink="/menu-service" routerLinkActive="active">
        View More
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <div class="popular-grid">
      <div class="item-card" >
        <img src="assets/images/Chicken-biryani.jpg" alt="Dish 1">
        <div class="item-info">
          <h4>Chicken Biryani</h4>
          <button class="order-btn">Order Now</button>
        </div>
      </div>
      <div class="item-card">
        <img src="assets/images/veg-burger.jpg" alt="Dish 2">
        <div class="item-info">
          <h4>Veg Burger</h4>
          <button class="order-btn">Order Now</button>
        </div>
      </div>
      <div class="item-card">
        <img src="assets/images/pizza.png" alt="Dish 3">
        <div class="item-info">
          <h4>Italian Pizza</h4>
          <button class="order-btn">Order Now</button>
        </div>
      </div>
      <div class="item-card">
        <img src="assets/images/fries-busket.png" alt="Dish 4">
        <div class="item-info">
          <h4>Fries Basket</h4>
          <button class="order-btn">Order Now</button>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
