<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-container">
    <!-- <nav class="navbar">
      <div class="logo">🍔 Food<span>Hub</span></div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Foods</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="auth-buttons">
        <button class="btn-outline">Sign In</button>
        <button class="btn-primary">Sign Up</button>
      </div>
    </nav> -->

    <section class="hero">
      <div class="hero-text">
        <p class="subheading">FRESH & DELICIOUS</p>
        <h1>Delicious Meals <span>Delivered</span> to Your Door</h1>
        <p class="description">Enjoy fresh, flavorful meals made with the finest ingredients,<br>
          delivered straight to your door, every time.
        </p>
        <div class="buttons">
          <button class="btn-primary">Order Now</button>
          <button class="btn-outline">Learn More</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/images/fast-food.jpg" alt="Food Delivery">
        <div class="delivery-badge">🚚 Delivery <span>20 min</span></div>
        <div class="customer-rating">
           <img src="assets/images/peoples.jpg" alt="Happy Customers">
          <p><strong>4.9</strong> (1.4k Review)</p>
        </div>
      </div>
    </section>
  </div>

  <app-popular-items></app-popular-items>
  <app-inspired-section></app-inspired-section>
  <app-our-services></app-our-services>
  <app-customer-review></app-customer-review>

</body>
</html>
